WeatherGetBetter/
  WeatherGetBetter.swift
  Networking/
  Features/
    Home/
    Search/
    Favorites/
    Forecast/
  Resources/
    Assets.xcassets
    LaunchScreen.storyboard
  Support/
    Constants.swift
    WeatherDefaultsStore.swift
  Tests/
